In [ ]:
pip install selenium

In [ ]:
import selenium 
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
driver= webdriver.Chrome(r'C:/Users/dell/Downloads/chromedriver_win32/chromedriver.exe')

# Question 1

In [ ]:
 driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
url='https://www.naukri.com/'
driver.get(url)

In [ ]:
search_job=driver.find_element_by_class_name('suggestor-input')
search_job

In [ ]:
search_job.send_keys('Data Analyst')

In [ ]:
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [ ]:
search_loc.send_keys('Bangalore')

In [ ]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [ ]:
search_btn.click()

In [ ]:
jobs=driver.find_elements_by_xpath('//article[@class="jobTuple bgWhite br4 mb-8"]')
len(jobs)
jobs[0:9]

In [ ]:
job=[]
for i in jobs:
    job.append(i.text.replace('\n',''))
job

In [ ]:
len(job)

In [ ]:
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

job_title

In [ ]:
jobs_titl=[]
for i in job_title:
    jobs_titl.append(i.text)
jobs_title=jobs_titl[0:10]
jobs_title

In [ ]:
len(jobs_title)

In [ ]:
job_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

job_loc

In [ ]:
jobs_loc=[]
for i in job_loc:
    jobs_loc.append(i.text)
jobs_locn=jobs_loc[0:10]
jobs_locn

In [ ]:
company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company

In [ ]:
companys=[]
for i in company:
    companys.append(i.text.replace('\n',''))
job_company=companys[0:10]
job_company

In [ ]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp

In [ ]:
experience_required=[]
for i in exp:
    experience_required.append(i.text)
experience_requireds=experience_required[0:10]
experience_requireds

In [ ]:
datas=list(zip(jobs_title,jobs_locn,job_company,experience_requireds))

In [ ]:
df=pd.DataFrame(datas,columns=['Job-title','Job-location','Company_name','Experience_required'])

In [41]:
df

,Job-title,Job-location,Company_name,Experience_required
0,Hiring For Data Analyst I(SQL & Python),Bangalore/Bengaluru,Clario India Pvt Ltd,0-2 Yrs
1,Data Analyst - 3rd Party Payroll,Bangalore/Bengaluru,Flipkart,2-4 Yrs
2,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
3,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
4,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-8 Yrs
5,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
6,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
7,Looking For Data Analyst - Remote Support,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Locuz Enterprise Solutions Ltd,5-10 Yrs
8,Job openings For Data Analyst - AOA,Bangalore/Bengaluru(4th Phase JP Nagar),izmo ltd,2-3 Yrs
9,Senior Data Analyst - Ads & Promotion Platform...,Bangalore/Bengaluru,Gojek,3-8 Yrs

# Question 2

In [42]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.naukri.com/')
driver.find_element_by_class_name('suggestor-input').send_keys('Data Scientist')
driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input').send_keys('Bangalore')
driver.find_element_by_class_name('qsbSubmit').click()

In [43]:
job_title=[]
job_loctation=[]
company_name=[]
for t in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    job_title.append(t.text)
for l in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]'):
    job_loctation.append(l.text)
for n in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    company_name.append(n.text)
    
Data_Scientist_jobs=pd.DataFrame({})
Data_Scientist_jobs['Job_title']=job_title[0:10]
Data_Scientist_jobs['Job_loctation']=job_loctation[0:10]
Data_Scientist_jobs['company_name']=company_name[0:10]

Data_Scientist_jobs

,Job_title,Job_loctation,company_name
0,Data Scientist III,Bangalore/Bengaluru,Groupon
1,Sr Data Scientist,Bangalore/Bengaluru,Uber
2,Data Scientist/Senior Data Scientist - Python,Bangalore/Bengaluru,ApicalGo Consultancy
3,HCL Tech Opening - Lead Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",HCL
4,Sr . Data Scientist,Bangalore/Bengaluru,Visa
5,Need Data scientists and data engineers - WFH-...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Covalense Technologies Private Limited
6,Sr. Data Scientist - Manufacturing Projects - ...,"Pune, Bangalore/Bengaluru",EVOLVE TECHNOLOGIES AND SERVICES PRIVATE LIMITED
7,Principal Data Scientist,Bangalore/Bengaluru,Mobile Premier League
8,Data Scientist,Bangalore/Bengaluru,Shell
9,Data Scientist,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",HDFC Bank

# Question 3

In [45]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.naukri.com/')
driver.find_element_by_class_name('suggestor-input').send_keys('Data Scientist')
driver.find_element_by_class_name('qsbSubmit').click()

In [46]:
driver.find_element_by_xpath('/html/body/div/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i').click()

In [48]:
driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i').click()

In [49]:
title=[]
location=[]
company=[]
experience=[]
for t in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    title.append(t.text)
for l in driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16 halfwdt"]'):
    location.append(l.text)
for c in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    company.append(c.text)
for e in driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16 expwdth"]'):
    experience.append(e.text)

In [50]:
Data_Scientist_delhi=pd.DataFrame({})
Data_Scientist_delhi['Job_title']=title[0:5]
Data_Scientist_delhi['Job_loctation']=location[0:5]
Data_Scientist_delhi['company_name']=company[0:5]
Data_Scientist_delhi['experience required']=experience[0:5]
Data_Scientist_delhi

,Job_title,Job_loctation,company_name,experience required
0,"Excellent Opportunity For Freshers For AI/ML, ...","Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",NTT Data,0-0 Yrs
1,Data Analyst / Data Scientist / Business Analy...,"Bangalore/Bengaluru, Delhi / NCR",GABA Consultancy services,3-8 Yrs
2,Hiring For Senior Data Scientist-Noida,Delhi / NCR,Lumiq.ai,2-4 Yrs
3,Data scientist- Python,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",TeamPlus Staffing Solution Pvt Ltd,0-3 Yrs
4,Data Scientist _NLP,"Noida, New Delhi, Bangalore Rural, Bangalore/B...",EXL,5-10 Yrs

# Question 4

In [51]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.flipkart.com/')

In [52]:
driver.find_element_by_class_name('_3704LK').send_keys('sunglasses')

In [55]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [56]:
brand=[]
product=[]
price=[]
for b in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
    brand.append(b.text)
for p in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
    product.append(p.text)
for pi in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
    price.append(pi.text)

In [57]:
driver.find_element_by_class_name('_1LKTO3').click()

In [58]:
brand_1=[]
product_1=[]
price_1=[]
for b in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
    brand_1.append(b.text)
for p in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
    product_1.append(p.text)
for pi in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
    price_1.append(pi.text)

In [59]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span').click()

In [60]:
brand_2=[]
product_2=[]
price_2=[]
for b in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
    brand_2.append(b.text)
for p in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
    product_2.append(p.text)
for pi in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
    price_2.append(pi.text)

In [61]:
brand_=brand_2[0:20]
product_=product_2[0:20]
price_=price_2[0:20]

In [62]:
brand.extend(brand_1)

In [63]:
brand.extend(brand_)

In [64]:
len(brand)

100

In [65]:
product.extend(product_1)
product.extend(product_)
len(product)

100

In [66]:
price.extend(price_1)
price.extend(price_)
len(price)

100

In [67]:
sunglasses=pd.DataFrame({})
sunglasses['Brand']=brand
sunglasses['Product']=product
sunglasses['Price']=price
sunglasses

             Brand                                            Product   Price
0    VINCENT CHASE             UV Protection Wayfarer Sunglasses (55)    ₹949
1    VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...  ₹1,344
2             SRPM             UV Protection Wayfarer Sunglasses (50)    ₹198
3           SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...    ₹253
4        Elligator                UV Protection Round Sunglasses (54)    ₹258
..             ...                                                ...     ...
95    LOUIS KOUROS              UV Protection Aviator Sunglasses (60)  ₹1,349
96          PIRASO                   Mirrored Aviator Sunglasses (32)    ₹199
97       ROYAL SON                   Mirrored Aviator Sunglasses (55)    ₹379
98        Fastrack      Polarized Retro Square Sunglasses (Free Size)    ₹639
99  ROZZETTA CRAFT              UV Protection Aviator Sunglasses (62)    ₹616

[100 rows x 3 columns]

# Question 6

In [69]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.flipkart.com')

In [73]:
driver.find_element_by_class_name('_3704LK').send_keys('sneakers')

In [74]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [75]:
brand=[]
product=[]
productm=[]
discount=[]
price=[]
for b in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
    brand.append(b.text)
for p in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
    product.append(p.text)
for d in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
    discount.append(d.text)
for pi in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
    price.append(pi.text)
for mb in driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]'):
    productm.append(mb.text)

In [76]:
driver.find_element_by_class_name('_1LKTO3').click()

In [77]:
brand_1=[]
product_1=[]
discount_1=[]
price_1=[]
productm_1=[]
for b in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
    brand_1.append(b.text)
for p in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
    product_1.append(p.text)
for d in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
    discount_1.append(d.text)
for pi in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
    price_1.append(pi.text)
for mb in driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]'):
    productm_1.append(mb.text)

In [78]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span').click()

In [79]:
brand_2=[]
product_2=[]
discount_2=[]
price_2=[]
for b in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
    brand_2.append(b.text)
for p in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
    product_2.append(p.text)
for d in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
    discount_2.append(d.text)
for pi in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
    price_2.append(pi.text)

In [80]:
brand_=brand_2[0:20]
product_=product_2[0:20]
discount_=discount_2[0:20]
price_=price_2[0:20]

In [81]:
brand.extend(brand_1)
brand.extend(brand_)
product.extend(productm)
product.extend(product_1)
product.extend(productm_1)
product.extend(product_)
discount.extend(discount_1)
discount.extend(discount_)
price.extend(price_1)
price.extend(price_)

In [82]:
sneakers=pd.DataFrame({})
sneakers['Brand']=brand
sneakers['Product']=product
sneakers['Discount']=discount
sneakers['Price']=price
sneakers

,Brand,Product,Discount,Price
0,DUNKASTON,Sneakers For Men,77% off,₹343
1,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,80% off,₹259
2,World Wear Footwear,Sneakers For Men,60% off,₹199
3,HIGHLANDER,Sneakers For Men,39% off,₹719
4,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,59% off,₹649
...,...,...,...,...
95,HIGHLANDER,494 Perfect Sports Shoes for Running Training ...,50% off,₹995
96,aadi,Sneakers For Men,64% off,₹359
97,Bretton,"Stylish Comfortable Lightweight, Breathable Ca...",87% off,₹251
98,Numenzo,Sneakers For Men,76% off,₹474
99,HIGHLANDER,casual for men Sneakers For Men,50% off,₹995

# Question 7

In [83]:
driver=webdriver.Chrome('Chromedriver.exe')
driver.get('https://www.myntra.com/shoes')
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label').click()

In [84]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()

In [85]:
brand=[]
description=[]
price=[]
for b in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
    brand.append(b.text)
for d in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
    description.append(d.text)
for p in driver.find_elements_by_xpath('//div[@class="product-price"]'):
    price.append(p.text)

In [86]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]').click()

In [87]:
brand_=[]
description_=[]
price_=[]
for b in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
    brand_.append(b.text)
for d in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
    description_.append(d.text)
for p in driver.find_elements_by_xpath('//div[@class="product-price"]'):
    price_.append(p.text)

In [88]:
brand.extend(brand_)
description.extend(description_)
price.extend(price_)

In [89]:
shoes=pd.DataFrame({})
shoes['Brand']=brand
shoes['Description']=description
shoes['Price']=price
shoes

,Brand,Description,Price
0,ALDO,Men Leather Driving Shoes,Rs. 12999
1,Reebok,Men Zig Dynamica 2.0 Running,Rs. 7999
2,Nike,Men Winflo 7 Running Shoes,Rs. 7995
3,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
4,Tommy Hilfiger,Men Cleated Leather Sneakers,Rs. 7739Rs. 8599(10% OFF)
...,...,...,...
95,Saint G,Women High-Top Heeled Boots,Rs. 12093Rs. 13900(13% OFF)
96,Saint G,Leather Block Heeled Boots with Buckles,Rs. 9810Rs. 10900(10% OFF)
97,Saint G,Embellished Flatform Boots,Rs. 8925Rs. 10500(15% OFF)
98,ROSSO BRUNELLO,High-Top Block Heeled Boots,Rs. 9449Rs. 13499(30% OFF)
99,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990

# Question 8

In [93]:
driver=webdriver.Chrome('Chromedriver.exe')
driver.get('https://www.amazon.in/')
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input').send_keys('laptop')
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()

In [ ]:
driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i').click()

In [95]:
title=[]
rating=[]
price=[]
for t in driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]'):
    title.append(t.text)
for r in driver.find_elements_by_xpath('//span[@class="a-size-base s-underline-text"]'):
    rating.append(r.text)
for p in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
    price.append(p.text)

In [96]:
Title=title[0:10]
Rating=rating[0:10]
Price=price[0:10]

In [97]:
laptop=pd.DataFrame({})
laptop['Title']=Title
laptop['Rating']=Rating
laptop['Price']=Price
laptop

                                               Title Rating     Price
0  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...     23    57,490
1  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...      3    89,990
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...     23    57,490
3  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...      3    89,990
4  Mi Notebook Ultra 3.2K Resolution Display Inte...    916    77,499
5  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....     32    90,990
6  HP Pavilion x360 11th Gen Intel Core i7 14 inc...     77    85,790
7  LG Gram 14 Intel Evo 11th Gen Core i7 14 inche...     85    88,990
8  Acer Predator Helios 300 11th Gen Intel Core i...      2  1,69,990
9  LG Gram Intel Evo 11th Gen Core i7 17 inches U...    140    96,999

# Question 9

In [100]:
driver=webdriver.Chrome('Chromedriver.exe')
driver.get('https://www.ambitionbox.com/')

In [101]:
driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]').click()

In [102]:
driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input').send_keys('Data Scientist')

In [103]:
driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span').click()

In [105]:
driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i').click()

In [106]:
driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input').send_keys('Noida')

In [107]:
driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [108]:
company=[]
days=[]
rating=[]
for c in driver.find_elements_by_xpath('//p[@class="company body-medium"]'):
    company.append(c.text)
for d in driver.find_elements_by_xpath('//span[@class="body-small-l"]'):
    days.append(d.text)
for r in driver.find_elements_by_xpath('//span[@class="body-small"]'):
    rating.append(r.text)

In [ ]:
day=days[0:20:2]
day

In [110]:
driver=webdriver.Chrome('Chromedriver.exe')
driver.get('https://www.ambitionbox.com/')

In [ ]:
job=pd.DataFrame({})
job['Company name']=company
job['job post date']=day
job['rating']=rating
job

# Question 10

In [112]:
driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]').click()

In [113]:
driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input').send_keys('Data Scientist')

In [114]:
driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p').click()

In [115]:
company=[]
tsalary=[]
asalary=[]
misalary=[]
exprience=[]
for c in driver.find_elements_by_xpath('//div[@class="name"]'):
    company.append(c.text)
for t in driver.find_elements_by_xpath('//div[@class="name"]'):
    tsalary.append(t.text)
for a in driver.find_elements_by_xpath('//p[@class="averageCtc"]'):
    asalary.append(a.text)
for mi in driver.find_elements_by_xpath('//div[@class="value body-medium"]'):
    misalary.append(mi.text)
for ex in driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]'):
    exprience.append(ex.text)

In [116]:
mins=misalary[0:20:2]
mins

['₹ 15.0L',
 '₹ 9.5L',
 '₹ 11.0L',
 '₹ 9.5L',
 '₹ 8.3L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L',
 '₹ 6.9L']

In [117]:
maxs=misalary[1:20:2]
maxs

['₹ 25.5L',
 '₹ 20.0L',
 '₹ 21.3L',
 '₹ 22.0L',
 '₹ 20.0L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 24.0L',
 '₹ 23.4L']

In [118]:
salary=pd.DataFrame({})
salary['Company and salary record']=company
salary['average salary']=asalary
salary['max salary']=maxs
salary['min salary']=mins
salary

,Company and salary record,average salary,max salary,min salary
0,Ab Inbev\nbased on 28 salaries,₹ 20.3L,₹ 25.5L,₹ 15.0L
1,ZS\nbased on 15 salaries,₹ 15.3L,₹ 20.0L,₹ 9.5L
2,Optum\nbased on 25 salaries,₹ 15.1L,₹ 21.3L,₹ 11.0L
3,Fractal Analytics\nbased on 77 salaries,₹ 15.1L,₹ 22.0L,₹ 9.5L
4,Tiger Analytics\nbased on 33 salaries,₹ 14.4L,₹ 20.0L,₹ 8.3L
5,UnitedHealth\nbased on 52 salaries,₹ 13.9L,₹ 20.5L,₹ 8.3L
6,Verizon\nbased on 14 salaries,₹ 12.7L,₹ 21.0L,₹ 10.0L
7,Ganit Business Solutions\nbased on 13 salaries,₹ 12.4L,₹ 15.0L,₹ 8.5L
8,Ericsson\nbased on 43 salaries,₹ 11.9L,₹ 24.0L,₹ 5.8L
9,Deloitte\nbased on 57 salaries,₹ 11.7L,₹ 23.4L,₹ 6.9L